.left-column {
    float: left;
    width: 35%;
}
.right-column {
    float: right;
    width: 60%;
}
.clearfix {
    clear: both;
}

@media (max-width: 655px) {
    .wrapper {
        margin: 0 20px;
    }
    .left-column {
        width: 100%;
    }
    .right-column {
        width: 100%;
    }
}

#types {
    margin-bottom: 30px;
}

/* https://codepen.io/cshaw/pen/pyjbXe */
table {
    border-collapse: collapse;
    margin: auto;
}
th {
    background: #ccc;
}

th,
td {
    border: 1px solid #ccc;
    padding: 8px;
}

tr:nth-child(even) {
    background: #efefef;
}

#search-input input {
    border: 1px solid rgba(228, 228, 228, 0.6);
    box-shadow: none;
}
#search-input {
    margin-bottom: 30px;
}
.ais-GeoSearch-input,
.ais-RefinementList-checkbox {
    box-shadow: none;
}
.ais-HierarchicalMenu-count,
.ais-Menu-count,
.ais-RatingMenu-count,
.ais-RefinementList-count,
.ais-ToggleRefinement-count {
    border-radius: 2px;
    position: absolute;
    right: 0;
    top: auto;
    border: none;
    background-color: transparent;
}
.ais-HierarchicalMenu-link,
.ais-Menu-link,
.ais-RatingMenu-link,
.ais-RefinementList-label {
    position: relative;
}
.ais-HierarchicalMenu-link::before {
    content: '›';
    background-image: none;
    height: unset;
}
.ais-HierarchicalMenu-label,
.ais-Menu-label,
.ais-RefinementList-labelText {
    padding-right: 30px;
    hyphens: auto;
    word-wrap: break-word;
    white-space: inherit;
}
.ais-HierarchicalMenu-item.ais-HierarchicalMenu-item--selected {
    font-weight: bold;
}
.ais-HierarchicalMenu-item {
    font-weight: normal;
}
.ais-Hits-item,
.ais-InfiniteHits-item {
    padding: 1.5rem;
}
.hit-content p.hit-type {
    margin: 0;
}
.hit-content h2.hit-name {
    margin: 5px 0 10px 0;
    font-weight: normal;
}
.hit-content .hit-description {
    color: #868686;
    margin: 1px 0 10px 0;
    font-size: 14px;
}
.hit-content .hit-notes {
    margin-top: 25px;
    margin-bottom: 0;
}
.ais-Pagination {
    margin: 40px 0 20px 0;
}
.ais-ClearRefinements-button,
.ais-GeoSearch-redo,
.ais-GeoSearch-reset,
.ais-HierarchicalMenu-showMore,
.ais-InfiniteHits-loadMore,
.ais-InfiniteHits-loadPrevious,
.ais-Menu-showMore,
.ais-Pagination-link,
.ais-RangeInput-submit,
.ais-RefinementList-showMore,
.ais-VoiceSearch-button {
    box-shadow: none;
}
.ais-ClearRefinements-button:active,
.ais-GeoSearch-redo:active,
.ais-GeoSearch-reset:active,
.ais-HierarchicalMenu-showMore:active,
.ais-InfiniteHits-loadMore:active,
.ais-InfiniteHits-loadPrevious:active,
.ais-Menu-showMore:active,
.ais-Pagination-item--selected .ais-Pagination-link,
.ais-Pagination-link:active,
.ais-RefinementList-showMore:active,
.ais-VoiceSearch-button:active {
    box-shadow: none;
    color: #5468ff;
    border-bottom-color: #5468ff;
    background-color: #dbdfff;
    background-image: none;
}
