      <footer class="footer">
        <ul class="footer-links">
          <li><a href="https://github.com/baltpeter/standardkontenrahmen.de">Code bei GitHub</a></li>
          <li><a href="{{ "urheberrecht" | absURL }}">Urheberrecht bei Kontenrahmen</a></li>
          <li><a href="{{ "datenschutz" | absURL }}">Datenschutz</a></li>
          <li><a href="{{ "impressum" | absURL }}">Impressum</a></li>
        </ul>
      </footer>

    </div>
    {{ if eq .Type "skr" }}
      <script src="{{ "js/instant-typesense.min.js" | absURL }}"></script>
      <script src="{{ "js/instantsearch.min.js" | absURL }}"></script>
      <script>
        const slug = {{ .Slug }};
      </script>
      <script src="{{ "js/search.js" | absURL }}"></script>
    {{ end }}
</body>
</html>
