      <footer class="footer">
        <ul class="footer-links">
          <li><a href="https://github.com/baltpeter/standardkontenrahmen.de">Code bei GitHub</a></li>
          <li><a href="{{ "urheberrecht" | absURL }}">Urheberrecht bei Kontenrahmen</a></li>
          <li><a href="{{ "datenschutz" | absURL }}">Datenschutz</a></li>
          <li><a href="{{ "impressum" | absURL }}">Impressum</a></li>
        </ul>
      </footer>

    </div>
    {{ if eq .Type "skr" }}
      <script type="text/html" id="hit-template">
        <div class="hit">
          <div class="hit-content">
            <p class="hit-type">{{ `{{{_highlightResult.type.value}}}` }}</p>
            <h2 class="hit-name">{{ `{{{_highlightResult.code.value}}}` }} {{ `{{{_highlightResult.name.value}}}` }}</h2>
            <p class="hit-description">{{ `{{{_highlightResult.description.value}}}` }}</p>
            <p class="hit-notes">{{ `{{{_highlightResult.notes.value}}}` }}</p>
          </div>
        </div>
      </script>

      <script src="{{ "js/instantsearch.min.js" | absURL }}"></script>
      <script>
        const slug = {{ .Slug }};
      </script>
      <script src="{{ "js/search.js" | absURL }}"></script>
    {{ end }}
</body>
</html>
